.Card {
    border-radius: 5px;
    color: white;
    padding: 2em;
    background-color: #03b3fc;
}

.Card label{
    font-weight: 600;
    font-size: large;
    height: 20%;
}

.completed{
    background-color: #42b86a;
}

.h-20{
    height: 20%;
}

.h-50{
    height: 50%;
}

.Card button {
    background-color: #03b3fc;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
}

.Card button:hover {
    background-color: #0876a7;
    border: 2px solid #0876a7;
}