.RequestContainer{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.RequestContainer input {
    text-align: center;
    border-radius: 5px;
    height: 28px;
    border: 1px solid #cecece;
    width: 10%;
    margin-right: 2%;
}

.RequestContainer button {
    background-color: white;
	border: 2px solid #0876a7;
    color: #0876a7;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
}

.RequestContainer button:hover {
    background-color: #0876a7;
    color:white;
}

@media (max-width: 1000px) {
    .RequestContainer input {
        width: 20%;
    }

    .RequestContainer button {
        width: 25%;
    }
}