.App {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	height: inherit;
}

.modal-button {
	background-color: white;
	border: 2px solid #0876a7;
	color: #0876a7;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	font-size: medium;
	font-weight: 600;
	margin: 1em;
}

.modal-button:hover {
	background-color: #0876a7;
	color: white;
}

.modal-button-container {
	text-align: end;
}

.loading-container {
	text-align: center;
}